In [14]:
num = int(input("Enter a value: "))
if num % 5 == 0:
    print("welcome")
else:
    print("bye")

Enter a value: 6
bye

In [19]:
A = int(input("Enter a value: "))
B = int(input("Enter a value: "))
C = int(input("Enter a value: "))
if A > B :
    print ("Largest of all three is A")
elif B > C:
    print ("Largest of all three is B")
elif C > A:
    print ("Largest of all three is C")

Enter a value: 13
Enter a value: 15
Enter a value: 11
Largest of all three is B

In [66]:
num = int(input("Enter a number from 1 to 7: "))
if num == 1:
    print("Monday")
elif num == 2:
    print("Tuesday")
elif num == 3:
    print("Wednesday")
elif num == 4:
    print("Thursday")
elif num == 5:
    print("Friday")
elif num == 6:
    print("Saturday")
elif num == 7:
    print("Sunday")
elif num >= 8:
    print("Please select between 1 to 7")

Enter a number from 1 to 7: 9
Please select between 1 to 7

In [74]:
x = input("Enter a city name: ")
if x == ("Delhi"):
    print("The monument in Delhi is Red Fort")
elif x == ("Agra"):
    print("The momument in Agra is Taj mahal")
elif x == ("Jaipur"):
    print("The momument in Jaipur is Jal Mahal")
else: print("invalid")

Enter a city name: pune
invalid

In [83]:
x = input("Enter num1:")
y = input("Enter num2:")
x = int(x)
y = int(y)
def multiply (x,y):
    return(x*y)
print("Your answer is ", multiply(x,y))

Enter num1:4565
Enter num2:6456456
Your answer is  29473721640

In [46]:

def devide(x):
    if x % 4 == 0:
        return True
    if x % 100 == 0:
        return False
    if x % 400 == 0:
        return True
    return False

print(devide(int(input("Enter the year: "))))

Enter the year: 1995
False

In [58]:
x = input("Enter x: rock, paper or scissor: ")
y = input("Enter y: rock, paper or scissor: ")
x = x.lower()
y = y.lower()
if x == "rock" and y == "paper":
    print("y wins")
elif x == "rock" and y == "scissor":
    print("x wins")
elif x == "paper" and y == "scissor":
    print("y wins")
elif x == "paper" and y == "rock":
    print("x wins")
elif x == "scissor" and y == "rock":
    print("y wins")
elif x == "scissor" and y == "paper":
    print("x wins")
else: print("Invaid")

Enter x: rock, paper or scissor: ROCK
Enter y: rock, paper or scissor: PAPER
y wins

In [69]:
import pandas as pd
df = pd.read_csv("501+Case1+Dataset.csv")
df.head(5)

,Employee_Name,EmpID,Sex,GenderID,MaritalDesc,MarriedID,MaritalStatusID,DOB,State,Zip,...,ManagerID,RecruitmentSource,LastPerformanceReview_Date,PerformanceScore,PerfScoreID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
0,"Le, Binh",10232,F,0,Single,0,0,06/14/87,MA,1886,...,13.0,Indeed,01/08/2019,Fully Meets,3,4.1,5,7,0,2
1,"Martin, Sandra",10110,F,0,Single,0,0,11/07/1987,MA,2135,...,10.0,Google Search,1/14/2019,Fully Meets,3,4.5,5,4,0,14
2,"Myers, Michael",10216,M,1,Single,0,0,04/18/80,MA,1550,...,20.0,LinkedIn,1/22/2019,Fully Meets,3,4.1,4,0,0,13
3,"Navathe, Kurt",10079,M,1,Single,0,0,04/25/70,MA,2056,...,13.0,Indeed,2/25/2019,Fully Meets,3,5.0,3,6,0,17
4,"Sutwell, Barbara",10209,F,0,Single,0,0,08/15/68,MA,2718,...,16.0,Indeed,1/31/2019,Fully Meets,3,3.4,5,0,0,13

In [70]:
df.tail(4)

,Employee_Name,EmpID,Sex,GenderID,MaritalDesc,MarriedID,MaritalStatusID,DOB,State,Zip,...,ManagerID,RecruitmentSource,LastPerformanceReview_Date,PerformanceScore,PerfScoreID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
307,"Demita, Carla",10100,F,0,Separated,0,3,02/25/51,MA,2343,...,18.0,Google Search,05/06/2015,Fully Meets,3,4.62,5,0,0,1
308,"Lundy, Susan",10096,F,0,Widowed,0,4,12/26/76,MA,2122,...,22.0,LinkedIn,06/10/2016,Fully Meets,3,4.65,4,0,0,15
309,"MacLennan, Samuel",10191,M,1,Widowed,0,4,11/09/1972,MA,1938,...,11.0,Indeed,04/01/2017,Fully Meets,3,3.08,4,0,0,18
310,"Thibaud, Kenneth",10268,M,1,Widowed,0,4,09/16/75,MA,2472,...,39.0,Other,7/14/2010,Fully Meets,3,4.10,4,0,0,15

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   Sex                         311 non-null    object
 3   GenderID                    311 non-null    int64
 4   MaritalDesc                 311 non-null    object
 5   MarriedID                   311 non-null    int64
 6   MaritalStatusID             311 non-null    int64
 7   DOB                         311 non-null    object
 8   State                       311 non-null    object
 9   Zip                         311 non-null    int64
 10  CitizenDesc                 311 non-null    object
 11  RaceDesc                    311 non-null    object
 12  DateofHire                  311 non-null    object
 13  DateofTermination           104 non-null    object
 14  TermReason                  311 non-null    object
 15  EmploymentStatus            311 non-null    object
 16  EmpStatusID                 311 non-null    int64
 17  Department                  311 non-null    object
 18  DeptID                      311 non-null    int64
 19  Salary                      311 non-null    int64
 20  PositionID                  311 non-null    int64
 21  Position                    311 non-null    object
 22  ManagerName                 311 non-null    object
 23  ManagerID                   303 non-null    float64
 24  RecruitmentSource           311 non-null    object
 25  LastPerformanceReview_Date  311 non-null    object
 26  PerformanceScore            311 non-null    object
 27  PerfScoreID                 311 non-null    int64
 28  EngagementSurvey            311 non-null    float64
 29  EmpSatisfaction             311 non-null    int64
 30  SpecialProjectsCount        311 non-null    int64
 31  DaysLateLast30              311 non-null    int64
 32  Absences                    311 non-null    int64
dtypes: float64(2), int64(14), object(17)
memory usage: 80.3+ KB

In [81]:
df["RaceDesc"].describe()

count       311
unique        6
top       White
freq        169
Name: RaceDesc, dtype: object

In [80]:
df["RaceDesc"].nunique()

6

In [82]:
df["ManagerID"].mean()

14.570957095709572

In [83]:
df["ManagerID"].max()

39.0

In [84]:
df["ManagerID"].min()

1.0

In [85]:
df["ManagerID"].count()

303

In [86]:
df["ManagerID"].mode()

0    12.0
1    16.0
2    18.0
3    20.0
Name: ManagerID, dtype: float64

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   Sex                         311 non-null    object
 3   GenderID                    311 non-null    int64
 4   MaritalDesc                 311 non-null    object
 5   MarriedID                   311 non-null    int64
 6   MaritalStatusID             311 non-null    int64
 7   DOB                         311 non-null    object
 8   State                       311 non-null    object
 9   Zip                         311 non-null    int64
 10  CitizenDesc                 311 non-null    object
 11  RaceDesc                    311 non-null    object
 12  DateofHire                  311 non-null    object
 13  DateofTermination           104 non-null    object
 14  TermReason                  311 non-null    object
 15  EmploymentStatus            311 non-null    object
 16  EmpStatusID                 311 non-null    int64
 17  Department                  311 non-null    object
 18  DeptID                      311 non-null    int64
 19  Salary                      311 non-null    int64
 20  PositionID                  311 non-null    int64
 21  Position                    311 non-null    object
 22  ManagerName                 311 non-null    object
 23  ManagerID                   303 non-null    float64
 24  RecruitmentSource           311 non-null    object
 25  LastPerformanceReview_Date  311 non-null    object
 26  PerformanceScore            311 non-null    object
 27  PerfScoreID                 311 non-null    int64
 28  EngagementSurvey            311 non-null    float64
 29  EmpSatisfaction             311 non-null    int64
 30  SpecialProjectsCount        311 non-null    int64
 31  DaysLateLast30              311 non-null    int64
 32  Absences                    311 non-null    int64
dtypes: float64(2), int64(14), object(17)
memory usage: 80.3+ KB

# GROUP BY

In [91]:
df.groupby("RaceDesc").mean()["EmpSatisfaction"]

C:\Users\91882\AppData\Local\Temp\ipykernel_7916\2007415843.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("RaceDesc").mean()["EmpSatisfaction"]

RaceDesc
American Indian or Alaska Native    4.666667
Asian                               3.724138
Black or African American           3.944444
Hispanic                            3.814815
Two or more races                   3.818182
White                               3.899408
Name: EmpSatisfaction, dtype: float64